.dashboard-container {
  color: #aaaaaa;
  padding: 1rem;
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  padding: 20px;
  background-color: white;
  height: fit-content;
}

.dashboard-container h4 {
  margin: 0;
}

.dashboard-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
